.about-section h1{
    color:#545454;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 700;
  }
  
  .about-section p{
      color:#a6a6a6;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      padding-top: 1%;
    }



    @media only screen and (max-width: 768px) {
       
         .about-section h1{
            font-size: 30px;
            
          }
         .about-section p{
            font-size: 15px;
            
          }
    }



    @media only screen and (max-width: 500px) {

        
         .about-section h1{
            font-size: 25px;
            
          }
         .about-section p{
            font-size: 12px;
            
          }
    }

    @media only screen and (max-width: 400px) {

       
         .about-section h1{
            font-size: 22px;
            
          }
         .about-section p{
            font-size: 10px;
            
          }
    }

    @media only screen and (max-width: 340px) {
       
  
        
         .about-section h1{
            font-size: 22px;
            
          }
         .about-section p{
            font-size: 10px;
            
          }
    }