header{
    height: 800px;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

}
.navbar-brand{
    color:white;
    font-family: 'Black Ops One', cursive;
    font-size: 35px;
}
.navbar-text{
    font-family: 'Roboto', sans-serif;
    color:white;
    padding-right: 2%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.header-right-text{
    color:white;
    font-family: 'Roboto', sans-serif; 
    padding-top: 5%;
    
}

.header-right-text h1{
   font-weight: 700;
   font-size: 50px;
}

.header-right-text h6{
   font-weight: 700;
   font-size: 18px;
   padding-top: 2%;
} 
.header-text-mobile{
  display: none;
  text-align: center;
}

.header-text-mobile h1{
    font-weight: 700;
    font-size: 32px;
 }

 @media only screen and (max-width: 1024px) {
    header{
        height: 600px;
    }
}
@media only screen and (max-width: 992px) {
    header{
        height: 500px;
    }
    .navbar-brand{
        font-size: 30px;
    }
    .header-right-text{
      padding-top: 0%;
        
    }
    
    .header-right-text h1{
       font-size: 250%;
    }
    
    .header-right-text h6{
       font-size: 15px;
       padding-top: 1%;
    } 

}

@media only screen and (max-width: 768px) {
    header{
        height: 425px;
    }
    .navbar-brand{
        font-size: 25px;
    }
    .header-right-text h1{
        font-size: 200%;
     }
     
     .header-right-text h6{
        font-size: 13px;
        padding-top: 1%;
     } 
     .header-text-mobile h1{
         font-size: 25px;
     }

}

@media only screen and (max-width: 600px) {
    header{
        height: 300px;
    }
    
    .header-right-text {
        display: none;
     }
     
     .header-text-mobile{
        display: block;
      }

}

@media only screen and (max-width: 500px) {
    header{
        height: 230px;
    }
    .navbar-brand{
        font-size: 20px;
    }
 
}

@media only screen and (max-width: 400px) {
    header{
        height: 200px;
    }
    .navbar-brand{
        font-size: 15px;
    }
   

}

@media only screen and (max-width: 340px) {
   
    .navbar-brand{
        font-size: 12px;
    }
    
}